rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isOwner() {
      return request.auth != null && request.auth.uid == 'K6DbALyBPVdX8SkUf36TnyF20433';
    }

    match /songs/{songId} {
      allow read, create, update, delete: if isOwner();
    }
    match /works/{workId} {
      allow read, create, update, delete: if isOwner();
    }
    match /tags/{sectionId} {
      allow read, create, update, delete: if isOwner();
    }

    match /{document=**} {
      allow read, write: if false;
    }
  }
}
